@(page: com.avaje.ebean.Page[Sample])
@import helper._ 
@import helper.twitterBootstrap._


@linkShow(key:Long, model:Object) = {
	<a href='@play.utils.crud.routes.RouterCrudController.show(model.getClass().getSimpleName(), key.toString())'>@key.toString()</a>                
}
@linkEdit(key:Long, model:Object) = {
	<a href='@play.utils.crud.routes.RouterCrudController.editForm(model.getClass().getSimpleName(), key.toString())'>Edit</a>                
}
@linkDelete(key:Long, model:Object) = {
	<a href='@play.utils.crud.routes.RouterCrudController.delete(model.getClass().getSimpleName(), key.toString())'>Delete</a>                
}

@main("list") {

	<h3>@page.getTotalRowCount() objects</h3>
	
    @if(page.getTotalRowCount() == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
	
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="header">name</th>
                <th class="header">random value</th>
            </tr>
        </thead>
        <tbody>
        @for(sample <- page.getList()) {
            <tr>
                <td>
                @linkShow(sample.getKey(), sample)
               	</td>
                <td>
                	@sample.getName()
               	</td>
                <td>
                	@sample.getRandomValue()
               	</td>
                <td>
                @linkEdit(sample.getKey(), sample)
                @linkDelete(sample.getKey(), sample)
               	</td>
            </tr>
        }
        </tbody>
    </table>
    
    }
}
